@import url("/css/input.css");
.container {
  visibility: hidden;
}
.form-asset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding-top: 20px;
}
/* สำหรับ container grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์ เท่า ๆ กัน */
  gap: 16px; /* ระยะห่างระหว่างช่อง */
}

/* responsive: หน้าจอเล็ก 1 คอลัมน์ */
@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
